.addHabitContainer {
    width: 85%;
    min-height: 240px;
    position: absolute;
    z-index: 999;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 25%) 0px 0px 20px -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.addHabitContainerChild {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(136, 136, 136);
}

.addHabitDateInput {
    width: 80px;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid rgb(102, 168, 81);
    border-left: none;
    border-image: initial;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 17px;
    color: rgb(102, 168, 81);
}

.addHabitTextInputs {
    width: 100px;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid rgb(102, 168, 81);
    border-left: none;
    border-image: initial;
    font-family: Gilroy;
    font-weight: 500;
    font-size: 17px;
    color: rgb(102, 168, 81);
}

.addHabitButtonContainer {
    display: flex;
    justify-content: center;
}

.addHabitButton {
    width: 140px;
    height: 40px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: rgb(102, 168, 81);
    box-shadow: rgb(0 0 0 / 25%) 0px 0px 20px -3px;
    cursor: pointer;
}

.addExtraTimeImage {
    cursor: pointer;
}

.dailyGoalEnable {
    pointer-events: all;
    opacity: 1;
}

.dailyGoalDisable {
    pointer-events: none;
    opacity: 0.3;
}
