.header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    box-shadow: rgb(0 0 0 / 50%) 0px -25px 40px 0px;
}

.habricateTitle {
    height: inherit;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 30px;
    color: rgb(102, 168, 81);
}

.headerIconContainer {
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.headerIcons {
    height: 30px;
}
