.homeScreenContainer {
    background-color: red;
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(34, 34, 34);
}

.homeScreenContainerChild {
    width: 90%;
    height: 93%;
    background-color: green;
}

.currentHabitsTitle {
    font-weight: 700;
}

.eachHabit {
    width: 100%;
    background-color: mediumvioletred;
    height: 150px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 10px -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.eachHabitChild {
    background-color: orange;
    width: 90%;
    height: 75%;
    display: flex;
    flex-direction: row;
}

.habitImageContainer {
    background-color: rgb(237, 238, 239);
    width: 25%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.habitDetailsContainer {
    background-color: rgb(129, 212, 250);
    width: 70%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 500;
}

.eachHabitRightArrow {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    transform: scaleY(2);
}
