.registerButton {
    transition: 0.3s ease;
    width: 250px;
    height: 45px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    background-color: rgb(102, 168, 81);
    font-size: 16px;
    font-weight: 600;
    border-radius: 60px;
    font-family: Gilroy;
    color: white;
    letter-spacing: 10px;
}

.registerButton:hover {
    background-color: rgb(76 125 61) !important;
}

.registerButton:focus {
    outline: none;
}

.registerContainer {
    display: flex;
    justify-content: center;
    height: calc(100vh - 70px);
    align-items: center;
}

.registerContainerChild {
    height: 360px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.errorMessage {
    text-align: center;
    background-color: rgb(255, 117, 117);
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 10px;
}

.emailNameAndPassword {
    width: 360px;
    height: 60px;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Gilroy;
    font-weight: 500;
    padding-left: 20px;
    border: none;
    border-radius: 500px;
    background-color: whitesmoke;
}
