.singleHabitContainer {
    /* background-color: red; */
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: rgb(34, 34, 34);
}

.singleHabitContainerChild {
    width: 85%;
    height: 93%;
    /* background-color: green; */
    box-sizing: border-box;
    padding-top: 15px;
}

.currentHabitTitle {
    font-weight: 800;
    color: #66a851;
    display: flex;
    align-items: center;
}

.singleHabitTitleAndEditContainer {
    display: flex;
    justify-content: space-between;
}

.editButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95px;
    border: 2px solid rgb(102, 168, 81);
    border-radius: 5px;
    padding: 1px 6px;
    background-color: rgb(102, 168, 81);
    height: 30px;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.habitDetailsContainerChild {
    padding-top: 10px;
}

.doAtTime {
    height: 35px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: rgb(136, 136, 136);
}

.doAtGoal {
    height: 30px;
    font-weight: 500;
    color: #888888;
}
